.BookList-wrapper{
    height: 100%;
}

.BookList-wrapper > h2{
    font-family: 'Lobster', cursive;
    text-align: center;
    color: white;
    font-size: 3em;
    padding: 0.3em;
    margin-bottom: 0.3em;
}