.BookHeaders-wrapper{
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 0.3em;
    margin: 0.3em;
}

.BookHeaders-wrapper > span {
    font-family: 'Acme', sans-serif;
    flex: 1.5;
}

.BookHeaders-wrapper > span:first-child {
    flex: 1;
}
.BookHeaders-wrapper > span:nth-child(4) {
    flex: 4;
}


.BookHeaders-icon {
    cursor: pointer;
}

.BookHeaders-icon-replacement{
    width: 2.1em;
}

@media screen and (max-width: 740px) {
    .BookHeaders-wrapper{
        display: none;
    }
}